*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}

body
{
    font-family: 'Poppins',sans-serif;
}

.max-width
{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* All similar content styling code */
section
{
    padding: 50px 0;
}

.about , .projects , .skills, .contact 
{
    font-family: 'Poppins',sans-serif;
}

.about ,.about-content
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/*------------ navbar styling------------------------ */
.navbar
{
    position: fixed;
    width: 100%;
    padding: 5px 0;
    z-index: 999;
    transition: all 0.3s ease;  

}

.navbar.sticky
{
    padding:  8px 0;
    background: crimson;
}

.navbar .logo a
{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .menu li 
{
   display: inline-block;
}
.navbar .menu li a
{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-left: 23px;
    transition: color 3s ease;
    opacity: 1;
}

.navbar .menu li a:hover
{
    color: crimson;
}

.navbar.sticky .menu li a:hover 
{
    color: rgb(2, 2, 24);
}

.navbar .max-width
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*menu button styling */
.menu-btn
{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

/*-----------Home section styling-----------*/

.home
{
    display: flex;
    background:radial-gradient(ellipse at bottom,#1b2735 0%,#090a0f 100%);
    height: 100vh;
    color: #fff;
    min-height: 500px;

}

.home .max-width
{
    margin: auto 0 auto 80px;
}

.home .home-content .text-1
{
  font-size: 23px;
}

.home .home-content .text-2
{
  font-size: 50px;
  font-weight: 900;
  margin-left: -3px;
}

.home .home-content .text-3
{
  font-size: 26px;
}

.home .home-content .text-3 span
{
  color: crimson;
  font-weight: 500;
  font-weight: 600;
}

.home a
{
    display: inline-block;
    background:crimson;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    padding: 7px 24px;
    margin-top: 16px;
    border-radius: 5px;
    border: 1px solid crimson;
    transition: all 0.3s ease;
}

.home a:hover
{
   background: none;
   border: 2px solid crimson;
}

/* About Section */
.about .title
{
    font-size: 37px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 10px; 
    padding-top: 15px;   
}
.about .about-content 
{
    display: flex;
    align-items: center;
    flex: wrap;
    justify-content: space-between;
}

.about .about-content .left
{
   width: 45%;
}

.about .about-content .left img
{
   height: 300px;
   width: 300px;
   object-fit: cover;
   border-radius: 50%;
   border: 1px solid white;
}

.about .about-content .right
{
    width: 55%;
}
.about .about-content .right .text
{
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 10px;   
}
.about .about-content .right .text span
{
    color: crimson;   
}

.about .about-content .right p
{
   text-align: justify;
}

.about .about-content .right a
{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 19px;
    font-weight: 500;
    padding: 8px 26px;
    margin-top: 16px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover
{
    color: crimson;
    background: none;
}

/*-------Skills section-------*/

section.skills
{
    font-family: 'Poppins',sans-serif;
    background:radial-gradient(ellipse at bottom,#111a24 0%,#090a0f 100%);
    color: #fff;
    width: 100%;
    height: auto;
    
}

section.skills .title
{   
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 50px;
    padding-bottom: 10px; 
    padding-top: 20px;   
    align-items: center;
}
.skills-bar
{
    
   display: block;
    width: 50%;
    margin-left:auto;
    margin-right: auto;
}

.skills li
{
    list-style: none;
    width: 600px;
}

.bar 
{
    background:#fff;
    display: block;
    height: 9px;
    border-radius: 4px;
    overflow: hidden;
    text-align: center;    
    box-shadow: 0 0 2px rgb(216, 60, 91);
}

.bar span
{
    height: 9px;
    float: left;
    background:crimson;
    align-items: center;
}
.bar span:hover
{
    background: #070606;
    border: 1px solid crimson;
}

.html
{ width: 90%;}

.css
{width: 80%;}

.js 
{width: 60%;}

.reactjs
{width: 20%;}

.python
{width:79%;}



/*--------Projects Section------*/

.projects 
{
    
    background: #fff;
}

.projects .title
{   
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 50px;
    padding-bottom: 10px; 
    padding-top: 20px;      
}

.projects .carousel
{
    max-width: 1200px;
    margin: auto;
}

.projects .carousel .card
{
   background: #222;
   text-align: center;
   border-radius:8px;
   padding: 25px 35px;
   transition: all 0.3s ease;
   height: 400px;
   
}

.projects .carousel .card:hover
{
    background: crimson;
}

.projects  .carousel .card .box
{   
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    
}

.projects .carousel .card:hover .box
{
     transform: scale(1.05);
}

.projects .carousel .card:hover p
{
    color: #111;
    font-weight: 500;
}

.projects .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    color: #fff;
}

.projects .carousel .card p
{
    color: #898989;
    padding-bottom: 10px;
}

.projects .carousel .card img
{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid crimson;
}

.projects .carousel .card:hover img
{
    border-color: #fff;
}

.projects a
{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    padding: 5px 20px;
    margin-top: 11px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.projects a:hover
{
    
    background: #222;
}

.owl-dots
{
   text-align: center;
   margin-top: 20px;
}

.owl-dot
{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid crimson!important;
    transition: all 0.3s ease;
}

.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}

.owl-dot.active, .owl-dot:hover
{
    background: crimson !important;
}

/* Contact */
footer
{
    background:radial-gradient(ellipse at bottom,#1b2735 0%,#090a0f 100%);
    text-align: center;
    height: 30vh;
    width: 100%;
    transition: all .5s ease;
}
footer h1
{
    font-size: 1.6rem;
    color: white;
    padding-top: 1.6rem;  
    letter-spacing: 0.1rem;
}

footer .social
{
    padding-top: 1.6rem;   
}

footer .social a{
    color: white;
    font-size:2rem;
    padding-left: 1rem;
    transition: all .5s ease;
    
}

footer .social a:hover{
    color:crimson;
}

footer .copy
{
    padding-top: 1.3rem;
    color: gray;
    font-size: 1.1rem;
}


/*Media Queries to make website responsive */

@media (max-width:1300px)
{
    .home .max-width{
        margin-left: 0px;
    }

}

@media (max-width:1104px){
    .about .about-content .left img
    {
        height: 300px;
        width: 300px;
    }
}

@media (max-width:991px){
    .max-width
    {
        padding:0 50px ;
    }
}

@media (max-width: 947px)
{ 
   .menu-btn
   {
       display: block;
       z-index: 999;     
   }

   .menu-btn i.active:before
   {
      content: "\f00d";  
   }
   .navbar .menu{
       position: fixed;
       height: 100vh;
       width: 100%;
       left: -100%;
       top: 0;
       background: #111;
       text-align: center;
       padding-top:80px;
       transition: all 0.3s ease;
   }

   .navbar .menu.active 
   {
     left: 0;  
   }
   .navbar .menu li {
       display:block;
   }
   .navbar .menu li a
    {
    display:inline-block;
    margin: 20px 0;
    font-size: 20px;
   }

   .home .home-content .text-2{
    font-size: 38px;
    }

   .home .home-content .text-3{
    font-size: 25px;
    }

    .home .home-content a{
    font-size: 15px;
    padding: 10px 30px;
    }
    
    .max-width
    {
        max-width: 930px;
    }

    .about .about-content .column
    {
        width: 100%;
    }
   
    .about .about-content .left
    {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right
    {
        flex: 100%;
    }

    .skills li
   {
    width: 450px;
    align-items: center;
    justify-content: center;
   }

}


@media(max-width:690px){
    .max-width
    {
        padding: 0 23px;
    }
    .home .home-content .text-2
    {
        font-size: 45px;
    }
    .home .home-content .text-3
    {
        font-size: 28px;
    }
    
    .home a
    {
        font-size: 15px;
        padding: 5px 20px;
        margin-top: 14px;
    }
    .skills li
   {
    width: 280px;
   }

}

@media (max-width:500px)
{
    .home .home-content .text-2{
        font-size: 44px;
    }
    .home .home-content .text-3{
        font-size: 25px;
    }

    .home a
    {
        font-size: 14px;
        padding: 5px 20px;
        margin-top: 14px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }

    .skills li
    {
    width: 200px;
    }
}

    




